.burger {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 44px;
  height: 44px;

}

.burger__line {

  position: absolute;
  left: 77%;
  background-color: var(--light-color);
  top: 50%;
  border-radius: 100px;
  width: 26px;
  height: 2px;
  top: 50%;
  transform: translateX(-50%) translateX(-50%);

}

.burger__line:first-child {
  margin-top: -7px;
}

.burger__line:last-child {
  left: 13px;
  width: 13px;
  margin-top: 7px;
  transform: translateX(-50%);
}

.burger-close {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 44px;
  height: 44px;
  background-image: url('../img/phone.svg');
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
