.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}

.form__input {
  border-radius: 5px;
  width: 100%;
  padding: 0 20px;
  height: 64px;
  color: var(--dark-color);

}

.form__input ::placeholder {
  color: rgba(40, 41, 68, 0.7);
}

.form__btn {
  padding: 18px 30px;
}
